@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translate(-10rem); }
  80% {
    transform: translate(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translate(10rem); }
  80% {
    transform: translate(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /*The root font-size, 1 rem = 10px 
  62.5% of 16px is 10px(1rem) */
  /*The reson wahy we put here 62.5% is that every user may have 
  different default font-size for their browser*/ }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3rem;
    animation-name: moveFromLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*
    animation-delay: 3s;
    animation-iteration-count: 3;
    */ }
  .heading-primary--sub {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1.5rem;
    animation-name: moveFromRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.profile-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  .profile-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #85a7f5, #2e53a8);
    -webkit-background-clip: text;
    color: transparent; }
  .profile-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  .profile-box__text-1 {
    text-align: left; }

.btn:link,
.btn :visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1re rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 20rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveFromBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #85a7f5;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #85a7f5;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #2281d7;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  background-color: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.social-icons {
  width: 15%;
  letter-spacing: 2rem; }
  .social-icons :hover {
    outline: 1.5rem solid #85a7f5;
    transform: scale(1.05) translateY(-1rem);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
    z-index: 20; }

.composition {
  position: relative; }
  .composition__photo {
    width: 65%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 2rem;
      top: 5rem; }
    .composition__photo--p2 {
      right: 5%;
      top: 10rem; }
    .composition__photo--p3 {
      left: 15%;
      top: 20rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #85a7f5;
      transform: scale(1.05) translateY(-1rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.footer {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5rem 0;
  font-size: 1.4rem;
  color: #999;
  margin-top: -11rem; }
  .footer__logo-box {
    margin-top: 10rem;
    text-align: center;
    margin-bottom: 8rem; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #999;
    background-color: rgba(51, 51, 51, 0.2);
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #1255bc;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 1.5rem;
    width: 80%;
    float: right; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% -2 * 6rem) /3); }
  .row .col-2-of-3 {
    width: calc((100% - 2 * 6rem) /3)+6rem; }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem)/ 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem)/ 4) + 6rem); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(34, 129, 215, 0.8), rgba(133, 167, 245, 0.7)), url("./img/c11.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__logo:hover {
    height: 7.5rem;
    animation: moveFromLeft 2s ease-out; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #85a7f5, #2e53a8);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(15deg) skewX(10deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-profile {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(34, 129, 215, 0.8), rgba(133, 167, 245, 0.7)), url("./img/edu.jpg");
  background-size: cover;
  margin-top: -10rem;
  transform: skewY(-7deg); }
  .section-profile > * {
    transform: skewY(7deg); }
