@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translate(-10rem);
  }
  80% {
    transform: translate(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translate(10rem);
  }
  80% {
    transform: translate(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}